<div class="search-wrapper">
  <div class="search-box">
    <input type="text" class="search-input" placeholder="Buscar canciones, artistas o álbumes" (input)="onInput($event)"/>

    @if (open && results) {
      <div class="results">
        <div class="section" *ngIf="results.tracks?.length">
          <h4>Canciones</h4>
          <ul>
            @for (t of results.tracks; track t.id) {
              <li>
                <button (click)="playTrack(t.id)" class="row">
                  <img [src]="t.image" alt="" class="thumb square"/>
                  <span class="title">{{ t.name }}</span>
                  <span class="subtitle">{{ t.artist }}</span>
                </button>
              </li>
            }
          </ul>
        </div>

        <div class="section" *ngIf="results.albums?.length">
          <h4>Álbumes</h4>
          <ul>
            @for (a of results.albums; track a.id) {
              <li>
                <button (click)="loadAlbum(a.id)" class="row">
                  <img [src]="a.image" alt="" class="thumb square"/>
                  <span class="title">{{ a.name }}</span>
                  <span class="subtitle">{{ a.artist }}</span>
                </button>
              </li>
            }
          </ul>
        </div>

        <div class="section" *ngIf="results.artists?.length">
          <h4>Artistas</h4>
          <ul>
            @for (a of results.artists; track a.id) {
              <li>
                <div class="row">
                  <img [src]="a.image" alt="" class="thumb circle"/>
                  <span class="title">{{ a.name }}</span>
                </div>
              </li>
            }
          </ul>
        </div>
      </div>
    }
  </div>
</div>